.azure
.azure
.env
.venv
*.egg-info
*.egg
__pycache__
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.pyc
*.pdb
*.coverage
*.cover
*.hypothesis

.vscode/claude.json
.cache
.vscode/mcp.json

# file generated
src/apim/setlistfm/mcp-policy-setlistfm-entra-id.xml
infra/modules/Untitled-1.json
apic.json
apic2.json
apisource.json
apisource2.json
